
body {
    font-family: Arial, sans-serif;
    line-height: 30px;
    margin: 0;
    padding: 100px;
    background-color: #f4f4f4;
  }
  
  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }



  img {
    margin-left: 20px;
  }

  h1 {
    color: #ad004e;
    margin-left: 20px;
  }

  h2 {
    color: #000000;
    margin-left: 20px;
  }
  
  ul {
    list-style-type: square;
    padding: 10;
  }
  

  li {
    margin-bottom: 10px;
  }
  

  p {
    margin-bottom: 1px;
  }